#textdomain wesnoth-sff

[scenario]
    id=02_The_Search_For_The_Ochgma
    name= _ "The Search For The Ochgma"
    map_data="{~add-ons/Struggle_For_Freedom/maps/02_The_Search_For_The_Ochgma.map}"
    {TURNS 40 35 30}
    next_scenario=02x_Interlude
    {SCENARIO_MUSIC "legends_of_the_north.ogg"}
    victory_when_enemies_defeated=no

    {DEFAULT_SCHEDULE}
    [time_area]
        {UNDERGROUND}
        x=8-23,9-23,11-23,15-23,17-23,19-23,21-23
        y=1-4,5,6,7,8,9,10
    [/time_area]

    {SEARCH_FOR_THE_OCHGMA}
    {STANDARD_DEATHS}

#define AVOID_DWARVES
    [avoid]
        x=8-23,9-23,11-23,15-23,17-23,19-23,21-23
        y=1-4,5,6,7,8,9,10
    [/avoid]
    [goal]
        [criteria] #NOTE: this is a SUF, because we're targeting a unit
            side=2
        [/criteria]
        value=1
    [/goal]
#enddef

    [side]
        type=Uvollyn Elvish Fighter
        name= _ "Uvollyn"
        id=Uvollyn
        side=1
        canrecruit=yes
        controller=human
        team_name=good
        user_team_name= _ "team_name^Good"
        shroud=yes
		{GOLD 200 150 100}
    [/side]

    [side]
        id=Gar Durthsil
        name= _ "Gar Durthsil"
        side=2
        unrenamable=yes
        type=Dwarvish Pathfinder
        canrecruit=yes
        recruit=Dwarvish Fighter,Dwarvish Guardsman,Dwarvish Thunderer,Dwarvish Ulfserker
        {GOLD 0 0 0}
        team_name=good
        user_team_name= _ "team_name^Good"
        {LOYAL_GUARD (Dwarvish Guardsman) 13 2}
        {LOYAL_GUARD (Dwarvish Guardsman) 13 4}
        {LOYAL_GUARD (Dwarvish Guardsman) 13 6}
        {LOYAL_GUARD (Dwarvish Guardsman) 17 8}
        {LOYAL_GUARD (Dwarvish Guardsman) 20 6}
        {LOYAL_GUARD (Dwarvish Guardsman) 22 5}
        [ai]
            caution=5.0
            grouping=defensive
            leader_value=5.0
            [goal]
                [criteria] #NOTE: this is a SUF, because we're targeting a unit
                    side=3
                [/criteria]
                value=1
            [/goal]
            [goal]
                [criteria] #NOTE: this is a SUF, because we're targeting a unit
                    side=4
                [/criteria]
                value=1
            [/goal]
            #so not to kill the fake leader
            [goal]
                [criteria] #NOTE: this is a SUF, because we're targeting a unit
                    side=5
                [/criteria]
                value=0
            [/goal]
        [/ai]
    [/side]

    [side]
        side=3
        controller=ai
        color=orange
        no_leader=yes
        {RECRUIT (Saurian Skirmisher,Saurian Augur,Goblin Spearman,Troll Whelp,Mudcrawler) (Saurian Skirmisher,Saurian Augur,Goblin Spearman,Goblin Impaler,Wolf Rider,Orcish Archer,Troll Whelp,Mudcrawler,Giant Mudcrawler) (Saurian Ambusher,Saurian Oracle,Saurian Soothsayer,Goblin Spearman,Goblin Impaler,Wolf Rider,Orcish Archer,Orcish Grunt,Troll Whelp,Mudcrawler,Giant Mudcrawler)}
        team_name=bad
        user_team_name= _ "team_name^Hill Dwellers"
        {GOLD 110 140 180}
        [ai]
            {AVOID_DWARVES}
        [/ai]
    [/side]

    [side]
        side=4
        controller=ai
        color={COLOUR_YELLOW}
        no_leader=yes
        {RECRUIT (Orcish Grunt,Orcish Archer,Wolf Rider) (Orcish Grunt,Orcish Archer,Wolf Rider) (Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin)}
        team_name=bad
        user_team_name= _ "team_name^Hill Dwellers"
        {GOLD 120 145 175}
        [ai]
            {AVOID_DWARVES}
        [/ai]
    [/side]

    [side]
        side=5
        controller=ai
        color=white
        no_leader=yes
        team_name=bad
        user_team_name= _ "team_name^Hill Dwellers"
#ifdef EASY
        {RAND_N_LOYAL (Naga Fighter) 16 35}
        {GUARDIAN}
        {RAND_N_LOYAL (Naga Fighter) 19 34}
        {GUARDIAN}
#endif
#ifdef NORMAL
        {RAND_N_LOYAL (Naga Warrior) 16 35}
        {GUARDIAN}
        {RAND_N_LOYAL (Naga Fighter) 19 34}
        {GUARDIAN}
#endif
#ifdef HARD
        {RAND_N_LOYAL (Naga Warrior) 16 35}
        {GUARDIAN}
        {RAND_N_LOYAL (Naga Warrior) 19 34}
        {GUARDIAN}
#endif
        {RAND_N_LOYAL (Troll Whelp) 7 34}
        {RAND_N_LOYAL (Troll Whelp) 11 41}
        {RAND_N_LOYAL (Forest Whelp) 17 38}
#ifdef HARD
        {RAND_N_LOYAL (Forest Whelp) 23 47}
#endif
#ifdef EASY
        {RAND_N_LOYAL (Goblin Spearman) 23 43}
        {RAND_N_LOYAL (Goblin Spearman) 16 44}
        {RAND_N_LOYAL (Goblin Spearman) 11 41}
        {RAND_N_LOYAL (Goblin Spearman) 12 37}
#endif
#ifdef NORMAL
        {RAND_N_LOYAL (Goblin Impaler) 23 43}
        {RAND_N_LOYAL (Goblin Rouser) 16 44}
        {RAND_N_LOYAL (Goblin Spearman) 11 42}
        {RAND_N_LOYAL (Goblin Spearman) 12 37}
#endif
#ifdef HARD
        {RAND_N_LOYAL (Goblin Rouser) 23 43}
        {RAND_N_LOYAL (Goblin Impaler) 16 44}
        {RAND_N_LOYAL (Goblin Impaler) 11 42}
#endif
        [ai]
            {AVOID_DWARVES}
        [/ai]
    [/side]

    {STARTING_VILLAGES 1 6}
    {STARTING_VILLAGES 2 5}

    [event]
        name=prestart
        [object]
            silent=yes
            id=Restrict_Dwarf_Moves
            duration=scenario
            [effect]
                apply_to=movement_costs
                replace=true
                [movement_costs]
                    castle=99
                [/movement_costs]
            [/effect]
            [filter]
                id=Gar Durthsil
            [/filter]
        [/object]
        [objectives]
            side=1
            {OBJECTIVE_TO_WIN ( _ "Uvollyn reaches the dwarvish castle")}
            {OBJECTIVE_TO_BONUS ( _ "BONUS: Defeat all enemy leaders")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Uvollyn")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Biaraelia")}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
            [note]
                description=_ "Early finish bonus only applies if the bonus objective is met"
            [/note]
        [/objectives]
    [/event]

    [event]
        name=start
        [unit]
            x,y=1,1
            id=Fake Leader
            side=5
            canrecruit=yes
            type=Orcish Grunt
        [/unit]
        #        {VARIABLE defeated_enemy_leaders no}
        #        {VARIABLE met_enemies 0}
        #        {VARIABLE killed_enemies 0}
        {RECALL_XY Biaraelia 13 47}
        {STORE_UNIT id=Biaraelia biaraelia}
        {VARIABLE biaraelia.facing sw}
        {UNSTORE_UNIT biaraelia}
		{MSG_UV ( _ "Biaraelia, do you think Maelbirurn was a bit eager to get rid of us?")}
		{MSG_BIA ( _ "I'm sure he was just preoccupied with the threat of the Queen's forces.")}
        {MSG_UV ( _ "Hmm. According to my map, the dwarves are just north of here, over these hills.")}
        {MSG_BIA ( _ "Yes, although it may take some time to get through. I have heard that there are trolls and goblins living around here.")}
        {TELEPORT_UNIT (x,y=7,34) 12 41}
        {MOVE_UNIT (x,y=12,41) 12 46}
        {MSG_FILTERED (x,y=12,46) ( _ "Grug... Uhr...")}
        {SOUND {SOUND_LIST:TROLL_HIT}}
        [scroll_to]
            x,y=13,48
        [/scroll_to]
        {DELAY 500}
        {MSG_BIA ( _ "Oh, it's so cute!")}
        [animate_unit]
            [filter]
                x,y=12,46
            [/filter]
            flag=attack
            hit=hit
            [primary_attack]
                name=fist
            [/primary_attack]
        [/animate_unit]
        [object]
            silent=yes
            [filter]
                id=Biaraelia
            [/filter]
            [effect]
                apply_to=hitpoints
                increase=-5%
            [/effect]
        [/object]
        {REDRAW}
        {MSG_BIA ( _ "Ouch! That hurt.")}
        {MSG_UV ( _ "......")}
    [/event]

    [event]
        name=sighted
        first_time_only=yes
        [filter]
            race=naga
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [scroll_to]
            x,y=$x1,$y1
        [/scroll_to]
        {MSG_SPKR unit ( _ "You sssshall not passss here.")}
        {MSG_SPKR second_unit ( _ "I'm sorry, but we must cross at this point. Now stand aside, or face the wrath of the elves!")}
        {MSG_SPKR unit ( _ "Ssssslay them!")}
        [unit]
            side=3
            type=Saurian Flanker
            canrecruit=yes
            x,y=3,29
            name= _ "Earaelix"
            id=Earaelix
        [/unit]
        [unit]
            side=4
            type=Orcish Ruler
            canrecruit=yes
            x,y=21,19
            name= _ "Oyrnrak"
            id=Oyrnrak
        [/unit]
        [kill]
            id=Fake Leader
        [/kill]
#ifdef EASY
        {LOYAL_SIDE_GUARD (Saurian Skirmisher) 6 26 3}
        {LOYAL_SIDE_GUARD (Saurian Skirmisher) 7 30 3}
        {LOYAL_SIDE_GUARD (Saurian Skirmisher) 4 31 3}
#else
        {LOYAL_SIDE_GUARD (Saurian Ambusher) 6 26 3}
        {LOYAL_SIDE_GUARD (Saurian Skirmisher) 7 30 3}
        {LOYAL_SIDE_GUARD (Saurian Skirmisher) 4 31 3}
#endif
        {LOYAL_SIDE_GUARD (Orcish Archer) 18 18 4}
#ifdef HARD
        {LOYAL_SIDE_GUARD (Orcish Archer) 18 20 4}
#endif
    [/event]

#wmlindent: start ignoring
#    [event]
#        name=sighted
#        first_time_only=yes
#        [filter]
#            id=Oyrnrak
#        [/filter]
#        [filter_second]
#            side=1
#        [/filter_second]
#        {VARIABLE_OP met_enemies add 1}
#    [/event]

#    [event]
#        name=sighted
#        first_time_only=yes
#        [filter]
#            id=Earaelix
#        [/filter]
#        [filter_second]
#            side=1
#        [/filter_second]
#        {VARIABLE_OP met_enemies add 1}
#    [/event]
#wmlindent: stop ignoring

    [event]
        name=die
        [filter]
            id=Oyrnrak
        [/filter]
        #        {VARIABLE_OP killed_enemies add 1}
        {MSG_SPKR unit ( _ "Argh! Defeated... by elves.")}
    [/event]

    [event]
        name=die
        [filter]
            id=Earaelix
        [/filter]
        #        {VARIABLE_OP killed_enemies add 1}
        {MSG_SPKR unit ( _ "Hisss.....")}
        {PLAY_MUSIC_IMMEDIATE elvish_theme.ogg}
    [/event]

    [event]
        name=enemies defeated
        {MSG_NARRATOR "You have defeated all enemy leaders."}
        [objectives]
            side=1
            {OBJECTIVE_TO_WIN ( _ "Uvollyn reaches the dwarvish castle")}
            {OBJECTIVE_TO_WIN_DONE ( _ "BONUS: Defeat all enemy leaders")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Uvollyn")}
            {OBJECTIVE_TO_LOSE ( _ "Death of Biaraelia")}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        {LOYAL_SIDE_UNIT (Saurian Ambusher) 7 38 5}
        {LOYAL_SIDE_UNIT (Troll Rocklobber) 14 38 5}
        {LOYAL_SIDE_UNIT (Forest Impaler) 7 38 5}
        {VARIABLE defeated_enemy_leaders yes}
    [/event]

    [event]
        name=moveto
        first_time_only=no

        [filter]
            id=Uvollyn
            {RECT 17 19 2 4}
        [/filter]
        {MSG_DSC "Gar Durthsil" ( _ "And who might you be?")}
        {MSG_UV ( _ "I am Uvollyn, a commander in the army of the Eastern elves. We want to talk to your king about an alliance that you proposed.")}
        {MSG_DSC "Gar Durthsil" ( _ "Very well. Follow me.")}
        
		{ENDLEVEL_VICTORY defeated_enemy_leaders}
        
		{CLEAR_VARIABLE met_enemies}
        {CLEAR_VARIABLE killed_enemies}
        {CLEAR_VARIABLE defeated_enemy_leaders}
        
		 
    [/event]

#undef AVOID_DWARVES
[/scenario]
