#textdomain wesnoth-sff
[unit_type]
    id=Mercenary Clubman
    name= _ "Clubman"
    race=human
    image="units/human-outlaws/thug.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    profile="portraits/humans/thug.png"
    hitpoints=32
    movement_type=smallfoot
    movement=5
    experience=36
    level=1
    alignment=chaotic
    advances_to=Mercenary Crusader
    cost=15
    usage=fighter
    description= _ "Regardless of their background, Clubmen all share a penchant for beating their victims with large clubs."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/human-outlaws/thug-defend.png" "units/human-outlaws/thug.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=club
        description=_"club"
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=throwing knives
        description=_"throwing knives"
        icon=attacks/dagger-thrown-human.png
        type=blade
        range=ranged
        damage=2
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/human-outlaws/thug.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/human-outlaws/thug-attack.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/human-outlaws/thug-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/human-outlaws/thug.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=throwing knives
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-200
                end=-100
                image="units/human-outlaws/thug.png"
                sound=throwing-knife.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=-100
                image="units/human-outlaws/thug.png"
                sound=throwing-knife-miss.ogg
            [/frame]
        [/else]
        [frame]
            begin=-100
            end=50
            image="units/human-outlaws/thug.png"
        [/frame]
    [/attack_anim]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-3.png"
        [/frame]
        [frame]
            duration=400
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=300
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=400
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=300
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=600
            image="units/human-outlaws/thug-idle-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-outlaws/thug-idle-1.png"
        [/frame]
    [/idle_anim]
[/unit_type]
